<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>display recent user details</h3>
Firstname:<%= @user.firstname%>
Lastname:<%= @user.lastname%>
Designation:<%= @user.lastname%>
Origin:<%= @user.lastname%>
<%= link_to "home",users_path %>
</body>

</html>
